.add-profile {
  z-index: 3;
  position: relative;

  margin-bottom: -30px;
  padding: 65px 0 20px;

  background-color: $color-solitude-grey;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: -60px;
    padding: 130px 0 41px;

    background-color: $color-solitude-grey-mod-2;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 164px 0 152px;
  }
}

.add-profile__container {
  position: relative;
}

.add-profile__wrapper-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    margin: 0 auto 76px auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 136px auto;
  }
}

.add-profile__title {
  padding: 16px 30px 0 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.add-profile__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    right: 85px;
    bottom: -3px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    right: 133px;
    bottom: 113px;

    width: 198px;
    height: 198px;
  }
}

.add-profile__tariff {
  margin: 0 0 20px 0;

  @include list-reset;

  @media (min-width: $tablet-width) {
    margin: 0 0 35px 0;
    padding-left: 65px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 345px 31px 0;
    padding-left: 135px;
  }
}

.add-profile__link {
  position: relative;

  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $color-midnight-blue;

  @media (min-width: $tablet-width) {
    justify-content: start;
    margin-bottom: 15px;
    padding: 20px 110px 24px 89px;

    font-size: 20px;
    line-height: 20px;

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: 0;

      width: 68px;
      height: 68px;

      background-color: $color-lavender;
      border-radius: 50%;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    padding: 24px 110px 24px 160px;

    &::before {
      top: 0;
      left: 70px;
    }
  }
}

.add-profile__link:hover,
.add-profile__link:focus {
  color: rgba($color-midnight-blue, 0.7);

  &::after {
    opacity: 0.7;
  }
}

.add-profile__link:active {
  color: rgba($color-midnight-blue, 0.3);

  &::after {
    opacity: 0.3;
  }
}
