.authorize-link {
  justify-content: center;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  color: $color-midnight-express;
  text-transform: uppercase;

  background-color: $color-energy-yellow;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
