.authorize {
  z-index: 2;
  position: relative;

  margin-bottom: -30px;
  padding-top: 30px;

  color: $color-white;

  background-color: $color-midnight-express;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: -60px;
    padding: 60px 0 0 0;

    border-radius: 0 0 60px 60px;
  }
}

.authorize__wrapper {
  padding: 70px 0 30px 0;

  @media (min-width: $tablet-width) {
    padding: 80px 35px 60px 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 105px 75px 103px 75px;
  }
}

.authorize__tagline {
  margin-bottom: 20px;
  padding: 0 25px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.authorize__description {
  margin: 0 0 30px 0;
  padding: 0 30px 0 26px;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 67px 0;
    padding: 0;

    font-size: 28px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 60px 0;
    padding: 0 20%;
  }
}

.authorize__link {
  color: $color-energy-yellow;
  text-decoration: underline;
}

.authorize__link:hover,
.authorize__link:focus {
  color: $color-neon-carrot-orange;
}

.authorize__link:active {
  color: rgba($color-neon-carrot-orange, 0.3);
}

.authorize__form {
  position: relative;

  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.authorize__email-input {
  width: 100%;
  height: 62px;
  padding: 22px 25px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  background-color: $color-white;
  border: none;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    height: 80px;
    padding: 21px 37px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
  }

  &::placeholder {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: rgba($color-charcoal-grey, 0.3);

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.authorize__email-input:hover {
  background-color: $color-solitude-grey-mod-2;

  &::placeholder {
    color: rgba($color-charcoal-grey, 0.5);
  }
}

.authorize__email-input:focus {
  background-color: $color-midnight-express-mod-3;
  color: $color-white;
  border: 4px solid $color-white;
  outline: none;
}

.authorize__email-input--error {
  background-color: $color-white;

  &::placeholder {
    color: $color-red;
  }

  &:hover {
    &::placeholder {
      color: $color-red;
    }
  }
}

.authorize__button {
  position: absolute;
  right: 0;
  bottom: 0;

  display: inline-flex;
  width: 60px;
  height: 62px;

  background-color: $color-energy-yellow;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;

    border-radius: 0 20px 20px 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    align-items: center;
    width: 323px;
    padding: 0 42px;
  }
}

.authorize__button:hover,
.authorize__button:focus {
  background-color: $color-supernova-yellow;
}

.authorize__button:active .authorize__button-text {
  color: rgba($color-catalina-blue, 0.3);
}

.authorize__button-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: $color-catalina-blue;
  }
}

.authorize__communications {
  margin-bottom: 0;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
