.authorize-link {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  color: $deep-blue-color;
  background-color: $yellow-color;
  border-radius: 25px;
}
