.authorize-link {
  justify-content: center;

  font-style: normal;
  font-size: 17px;
  text-align: center;
  color: $color-midnight-express;
  text-transform: uppercase;

  background-color: $color-energy-yellow;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.authorize-link:hover,
.authorize-link:focus {
  background-color: $color-supernova-yellow;
}

.authorize-link:active {
  color: rgba($color-midnight-express, 0.3);
}
