.breadcrumbs {
  justify-content: space-between;
  width: 50px;

  @media (min-width: $desktop-width) {
    min-width: 181px;
  }
}

.breadcrumbs__link {
  position: relative;

  width: 5px;
  height: 5px;
  padding: 11px;

  @media (min-width: $desktop-width) {
    width: fit-content;
    height: fit-content;
    padding: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 5px;
    height: 5px;

    background-color: rgba($color-catalina-blue, 0.3);
    border-radius: 50%;
    transform: translate(-50%);

    @media (min-width: $desktop-width) {
      left: 0;

      transform: translateX(0);
    }
  }

  &--current {
    &::before {
      background-color: $color-catalina-blue;
    }
  }
}

.breadcrumbs__link-text {
  display: none;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: rgba($color-black, 0.6);
  text-transform: uppercase;
  letter-spacing: 0.11em;

  @media (min-width: $desktop-width) {
    display: inline;
    padding-left: 42px;
  }
}
