.calendar__month-wrapper {
  display: flex;
  margin-bottom: 22px;

  border-top: 1px solid $color-hawkes-blue-mod-3;
  border-bottom: 1px solid $color-hawkes-blue-mod-3;
}

.calendar__month {
  flex-grow: 2;
  min-width: 100px;
  margin: 0;
  padding: 11px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $color-catalina-blue;
}

.calendar__arrow {
  flex-grow: 1;
  width: 60px;
  padding: 0;

  background-color: $color-white;
}

.calendar__week {
  @include list-reset;

  display: grid;
  margin: 0 0 10px 0;

  grid-template-columns: repeat(7, 1fr);
}

.calendar__week-day {
  display: none;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $color-charcoal-grey;
}

.calendar__week-day {
  &--short {
    display: block;
  }
}

.calendar__week-day {
  &--weekend {
    color: $color-outrageous-orange;
  }
}

.calendar__list {
  @include list-reset;

  display: grid;
  margin: 0;

  grid-template-columns: repeat(7, 1fr);
}

.calendar__item {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 31px;
  margin: -1px 0 0 -1px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $color-catalina-blue;

  background-color: $color-solitude-grey-mod-2;
  border: 1px solid $color-link-water-grey;
}

.calendar__item {
  &--disabled {
    font-weight: normal;
    color: rgba($color-charcoal-grey, 0.3);

    background-color: $color-white;
  }
}

.calendar__item {
  &--current {
    color: $color-white;

    background-color: $color-catalina-blue;
  }
}

.calendar__item--selected {
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -1px;
    z-index: 1;

    width: calc(100% + 2px);
    min-height: 32px;

    border: 2px solid $color-outrageous-orange;
  }
}

.calendar__month-beginning {
  display: none;
  margin: 0;
}

.calendar__comment {
  display: none;
  margin: 0;
}
