.catalog {
  margin-bottom: 72px;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
  }
}

.catalog__wrapper {
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 45px 0;
  }
}

.catalog__list {
  margin: 0 0 19px;

  @include list-reset;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
}

.catalog__item {
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.catalog__button-show-more {
  position: relative;
  display: block;
  margin: 0 auto 20px;
  padding: 0 0 0 30px;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: $color-catalina-blue;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 200px;
    min-height: 26px;
    margin-bottom: 50px;
    padding-left: 45px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    margin: 0 auto 73px auto;
    padding-left: 50px;

    text-align: left;
  }

  &::before {
    content: "";
    position: absolute;

    top: 6px;
    left: 5px;

    width: 2px;
    height: 18px;

    background-color: $color-catalina-blue;

    @media (min-width: $tablet-width) {
      top: -1px;
      left: 16px;

      height: 26px;
    }

    @media (min-width: $desktop-width) {
      top: 2px;
      left: 12px;
    }
  }

  &::after {
    content: "";
    position: absolute;

    top: 6px;
    left: 5px;

    width: 2px;
    height: 18px;

    background-color: $color-catalina-blue;
    transform: rotate(90deg);

    @media (min-width: $tablet-width) {
      top: -2px;
      left: 16px;

      height: 26px;
    }

    @media (min-width: $desktop-width) {
      top: 2px;
      left: 12px;
    }
  }
}

.catalog__pagination {
  display: flex;
  margin: 0 0 46px 0;

  @media (min-width: $tablet-width) {
    align-items: center;
    width: 100%;
    min-height: 100px;
    margin-bottom: 109px;
    padding: 25px 28px;

    background-color: $color-white;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 949px;
    margin-bottom: 77px;
  }
}

.catalog__button-show-more:hover,
.catalog__button-show-more:focus {
  &::before,
  &::after {
    opacity: 0.6;
  }
}

.catalog__button-show-more:active {
  &::before,
  &::after {
    opacity: 0.3;
  }
}
