.checkbox__item {
  @media (min-width: $tablet-width) {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    min-width: 150px;
    height: 100%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }
}

.checkbox__label {
  position: relative;

  display: flex;
  margin-bottom: 12px;
  padding-left: 27px;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: $color-black;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 36px;

    font-size: 20px;
    line-height: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    background-color: $color-white;
    border-radius: 4px;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
    }
  }
}
