.checkbox__item {
  @media (min-width: $tablet-width) {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    min-width: 152px;
    margin: 10px 18px 10px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 20px 0;
  }
}

.checkbox__item:last-child {
  margin-right: 0;
}

.checkbox__label {
  position: relative;

  display: flex;
  margin-bottom: 10px;
  padding-left: 27px;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: $color-black;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 36px;

    font-size: 20px;
    line-height: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;

    width: 18px;
    height: 18px;

    background-color: $color-white;
    border-radius: 4px;

    @media (min-width: $tablet-width) {
      top: -2px;

      width: 24px;
      height: 24px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: none;

    top: 31%;
    left: 5px;

    width: 9px;
    height: 9px;

    background-image: url("../img/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;

    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      top: 50%;
      left: 7px;

      width: 12px;
      height: 12px;
    }
  }
}

.checkbox__label:hover,
.checkbox__label:focus {
  color: rgba($color-black, 0.6);
}

.checkbox__label:active {
  color: rgba($color-black, 0.3);
}

.checkbox__input:checked + .checkbox__label::after {
  display: block;
}
