.companions-filter {
  padding: 21px 0 0;

  @media (min-width: $tablet-width) {
    padding: 45px 0 41px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    min-width: 285px;
    margin: 0;
    padding: 0;
  }
}

.companions-filter__container {
  padding: 25px 20px 0;

  background: $color-energy-yellow;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    padding: 37px 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 46px 45px 48px 48px;
  }
}

.companions-filter__title {
  margin: 0 0 25px;
  padding: 0 5px;

  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: $color-catalina-blue;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    margin: 0 0 38px 0;
    padding: 0;

    font-size: 30px;
    line-height: 30px;
    letter-spacing: normal;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
    padding: 0;
  }
}

.companions-filter__form {
  @media (min-width: $tablet-width) {
    padding-top: 26px;

    border-top: 1px solid $color-golden-dream-yellow;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    border: none;
  }
}

.companions-filter__fieldset {
  margin: 0 0 1px 0;
  padding: 0 5px;

  border: none;

  @media (min-width: $tablet-width) {
    display: flex;

    margin-bottom: 9px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 2px;
  }

  &--transport {
    @media (min-width: $tablet-width) {
      margin: 18px 0 13px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 3px;
    }
  }
}

.companions-filter__fieldset:last-of-type {
  @media (min-width: $tablet-width) {
    padding-bottom: 35px;

    border-bottom: 1px solid $color-golden-dream-yellow;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
    padding: 0;

    border: none;
  }
}

.companions-filter__toggle {
  position: relative;
  width: 100%;
  padding: 10px 0 11px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: $color-catalina-blue;
  text-transform: uppercase;

  background-color: inherit;
  border-top: 1px solid $color-golden-dream-yellow;

  @media (min-width: $tablet-width) {
    width: fit-content;
    min-width: 105px;
    height: fit-content;
    margin-right: 20px;

    font-size: 20px;
    line-height: 20px;

    border: none;
    pointer-events: none;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;

    pointer-events: unset;
  }

  &::before {
    content: "";
    position: absolute;

    top: 16px;
    right: -1px;

    width: 11px;
    height: 8px;

    background-image: url("../img/icon-pagination-arrow.svg");
    background-repeat: no-repeat;
    background-size: 11px 8px;
    transform: rotate(90deg);

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;

      top: 6px;
      right: 1px;
    }
  }

  &--opened {
    &::before {
      transform: rotate(270deg);
    }
  }
}

.companions-filter__toggle:hover,
.companions-filter__toggle:focus {
  color: rgba($color-catalina-blue, 0.6);

  &::before {
    opacity: 0.6;
  }
}

.companions-filter__toggle:active {
  color: rgba($color-catalina-blue, 0.3);

  &::before {
    opacity: 0.3;
  }
}

.companions-filter__toggle-colon {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.companions-filter__checkbox {
  display: none;
  flex-direction: column;
  margin: 5px 0 6px 0;

  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
    flex-direction: column;
    align-items: start;
    margin: 9px 0 11px;
  }

  &--opened {
    display: flex;
  }
}

.companions-filter__range {
  flex-direction: column;
  margin: 3px 0 25px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;

    margin: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.companions-filter__range-controls {
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 57%;
    margin-top: -3px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0;
  }
}

.companions-filter__scale {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 2px;

  background-color: rgba($color-catalina-blue, 0.2);

  @media (min-width: $tablet-width) {
    height: 3px;
  }
}

.companions-filter__bar {
  width: 65%;
  height: 100%;

  background-color: $color-catalina-blue;

  @media (min-width: $tablet-width) {
    width: 60%;
  }

  @media (min-width: $desktop-width) {
    width: 63%;
  }
}

.companions-filter__level-toggle {
  position: absolute;
  top: -4px;

  width: 10px;
  height: 10px;
  padding: 0;

  background-color: $color-catalina-blue;
  border-radius: 50%;
  transform: translateX(-100%);

  @media (min-width: $tablet-width) {
    width: 13px;
    height: 13px;
  }

  @media (min-width: $desktop-width) {
    top: -5px;
  }

  &--min {
    left: 35%;

    @media (min-width: $tablet-width) {
      left: 40%;
    }

    @media (min-width: $desktop-width) {
      left: 37%;
    }
  }

  &--max {
    left: 100%;

    @media (min-width: $desktop-width) {
      left: 100%;
    }
  }
}

.companions-filter__level-toggle:hover,
.companions-filter__level-toggle:focus {
  top: -7px;

  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    top: -8px;

    width: 19px;
    height: 19px;
  }
}

.companions-filter__level-toggle:active {
  box-shadow: 0 3px 7px rgba($color-black, 0.24);
}

.companions-filter__levels {
  position: relative;
  display: grid;
  order: -1;
  margin-bottom: 24px;

  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 30%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    width: 100%;
    margin-bottom: 37px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;

    top: 50%;
    left: 50%;

    width: 16px;
    height: 12px;

    background-color: $color-white;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 21px;
      height: 16px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;

    top: 50%;
    left: 50%;

    width: 16px;
    height: 1px;

    background-color: $color-link-water-grey;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 21px;
    }
  }
}

.companions-filter__input {
  position: relative;

  width: 100%;
  padding: 8px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: $color-catalina-blue;
  letter-spacing: 0.06em;

  border: 1px solid $color-link-water-grey;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 10px 5px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.06em;
  }

  &--min-level {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--max-level {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.companions-filter__input:hover {
  border: 1px solid $color-rock-blue;
}

.companions-filter__input:focus,
.companions-filter__input:active {
  border: 1px solid $color-midnight-express-mod-2;
  outline: none;
}

.companions-filter__button-show {
  width: 100%;
  margin-bottom: 22px;
  padding: 12px;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: $color-midnight-express-mod-2;
  text-transform: uppercase;

  background-color: $color-white;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    min-height: 50px;
    margin: 28px 0 0;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.companions-filter__button-show:hover,
.companions-filter__button-show:focus {
  box-shadow: 0 3px 6px rgba($color-black, 0.14);
}

.companions-filter__button-show:active {
  background-color: $color-golden-dream-yellow;
  box-shadow: none;

  color: rgba($color-midnight-express-mod-2, 0.3);
}
