.companions-filter {
  margin: 20px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 43px 0 0 0;
    padding: 40px 0;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    min-width: 285px;
    margin: 0;
    padding: 0;
  }
}

.companions-filter__container {
  padding: 26px 25px 0 25px;

  background: $color-energy-yellow;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    padding: 37px 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 46px 45px 48px 48px;
  }
}

.companions-filter__title {
  margin-bottom: 25px;
  padding: 0 100px 0 25px;

  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: $color-catalina-blue;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    margin: 0 0 38px 0;

    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
    padding: 0;
  }
}

.companions-filter__form {
  @media (min-width: $tablet-width) {
    padding-top: 34px;

    border-top: 1px solid $color-golden-dream-yellow;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    border: none;
  }
}

.companions-filter__fieldset {
  margin: 0;
  padding: 0;

  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 32px;
  }

  &--transport {
    @media (min-width: $tablet-width) {
      margin: 20px 0 20px 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 32px 0;
    }
  }
}

.companions-filter__fieldset:last-of-type {
  @media (min-width: $tablet-width) {
    padding-bottom: 35px;

    border-bottom: 1px solid $color-golden-dream-yellow;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
    padding: 0;

    border: none;
  }
}

.companions-filter__button {
  width: 100%;
  padding: 12px 0 14px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: $color-catalina-blue;
  text-transform: uppercase;

  background-color: inherit;
  border-top: 1px solid $color-golden-dream-yellow;

  @media (min-width: $tablet-width) {
    width: fit-content;
    min-width: 105px;
    margin-right: 20px;

    font-size: 20px;
    line-height: 20px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
  }
}

.companions-filter__checkbox {
  margin: 0 0 20px 0;

  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
  }
}

.companions-filter__range {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.companions-filter__range-controls {
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 55%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.companions-filter__scale {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 2px;

  background-color: rgba($color-catalina-blue, 0.2);

  @media (min-width: $tablet-width) {
    height: 3px;
  }
}

.companions-filter__bar {
  width: 60%;
  height: 100%;

  background-color: $color-catalina-blue;
}

.companions-filter__toggle {
  position: absolute;
  top: -4px;

  width: 10px;
  height: 10px;
  padding: 0;

  background-color: $color-catalina-blue;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 13px;
    height: 13px;
  }

  &--min {
    left: 40%;
  }

  &--max {
    right: 0;
  }
}

.companions-filter__levels {
  display: grid;
  order: -1;
  margin-bottom: 20px;

  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 29%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    width: 100%;
    margin-bottom: 31px;
  }
}

.companions-filter__input {
  position: relative;

  width: 100%;
  padding: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: $color-catalina-blue;
  letter-spacing: 0.06em;

  border: 1px solid $color-link-water-grey;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 100%;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.06em;
  }

  &--min-level {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--max-level {
    margin-left: -1px;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.companions-filter__button-show {
  width: 100%;
  margin-bottom: 22px;
  padding: 12px;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: $color-midnight-express-mod-2;
  text-transform: uppercase;

  background-color: $color-white;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    min-height: 50px;
    margin: 35px 0 0 0;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
