.companions {
  color: $color-white;

  background-color: $color-midnight-express;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.companions__container {
  display: grid;

  grid-template-rows: min-content;

  @media (min-width: $desktop-width) {
    position: relative;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    padding: 130px 60px 134px 60px;
  }
}

.companions__wrapper {
  padding: 68px 25px 0 25px;

  @media (min-width: $tablet-width) {
    padding: 141px 30% 60px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 20% 60px 70px;
  }
}

.companions__title {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.companions__description {
  margin: 0 0 25px 0;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 34px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px 0;
  }
}

.companions__tagline {
  margin: 0 0 55px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 24px;
  }
}

.companions__list {
  @include list-reset;

  display: grid;
  margin-bottom: 20px;

  gap: 9px;
  grid-template-rows: min-content;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;

    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    column-gap: 60px;
  }
}

.companions__link {
  width: 100%;
  min-height: 62px;
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 134px;
    left: 130px;
    width: 280px;
    margin-bottom: 0;
  }
}
