.footer {
  z-index: 7;

  padding-top: 20px;

  background-color: $color-white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  @media (min-width: $tablet-width) {
    padding: 46px 0 32px 0;
  }
}

.footer__container {
  display: grid;
  align-items: center;

  grid-template-rows: min-content;

  @media (min-width: $tablet-width) {
    grid-template-columns: 166px 1fr min-content;
  }
}

.footer__logo {
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__social {
  @include list-reset;

  display: flex;
  justify-content: center;
  min-width: 135px;
  margin: 0 0 50px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    align-self: center;
  }
}

.footer__producer {
  display: grid;
  margin-bottom: 20px;

  grid-template-columns: 1fr min-content;

  @media (min-width: $tablet-width) {
    margin: 0;

    align-content: center;
  }
}
