.for-business {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;

  overflow-y: auto;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.for-business__container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.for-business__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba($color-black, 0.3);
}

.for-business__wrapper {
  z-index: 1;

  width: 270px;
  min-height: 443px;
  margin: 0 auto;

  background-color: $color-white;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba($color-catalina-blue, 0.14);

  @media (min-width: $tablet-width) {
    width: 688px;
    min-height: 526px;

    box-shadow: 0 4px 22px rgba($color-catalina-blue, 0.18);
  }

  @media (min-width: $desktop-width) {
    width: 750px;
    min-height: 526px;

    border-radius: 30px;
  }
}

.for-business__content-wrapper {
  padding: 35px 25px 0 25px;

  @media (min-width: $tablet-width) {
    padding: 51px 90px 0 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 58px 0 60px;
  }
}

.for-business__title {
  margin-bottom: 30px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }
}

.for-business__tariff {
  margin-bottom: 30px;

  line-height: 22px;

  @include list-reset;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.for-business__button {
  width: 100%;
  padding: 18px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $color-catalina-blue;
  text-transform: uppercase;

  background-color: $color-ghost-white;
  border-radius: 0 0 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 38px 0 45px 0;

    font-size: 24px;
    text-transform: unset;
  }

  @media (min-width: $desktop-width) {
    padding: 39px 0 45px 0;

    border-radius: 0 0 30px 30px;
  }
}

.for-business__button:hover,
.for-business__button:focus {
  background-color: $color-solitude-grey-mod-2;
}

.for-business__button:active {
  color: rgba($color-catalina-blue, 0.3);
}
