.inner-page {
  background-color: $bg-grey-color;
  
  &__header {
    background-color: $deep-blue-color;
  }

  &__wrapper-title {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: $deep-blue-color;
  }

  &__title {
    padding-bottom: 11px;
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: $white-color;
  }

  &__title::before {
    content: "";
    position: absolute;
    width: 173px;
    height: 5px;
    bottom: -2px;
    left: 25px;
    background-color: $orange-color;
    border-radius: 4px;
  }
}
