.land-filter {
  background-color: $color-lavender;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.land-filter__title {
  margin: 0 0 20px 0;
  padding: 20px 0 15px 25px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: $color-midnight-express;
  text-transform: uppercase;
}

.land-filter__route {
  @include list-reset;

  margin: 0 0 10px 0;
  padding: 0 25px;
}

.land-filter__route-link {
  padding: 5px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: rgba($color-midnight-express-mod-3, 0.3);
  text-transform: uppercase;

  &--current {
    color: $color-midnight-express-mod;
  }
}

.land-filter__alphabet {
  @include list-reset;

  margin: 0 0 15px 0;
  padding: 0 25px;
}

.land-filter__routes-by-letter {
  @include list-reset;

  margin: 0;
  margin-bottom: 30px;
  padding: 0 25px;
}

.land-filter__close-button {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-midnight-express-mod-3;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: $color-hawkes-blue;
  border-radius: 20px;
}
