.map {
  z-index: 1;
  position: relative;
  padding-top: 60px;

  color: $color-catalina-blue;

  background-color: $color-energy-yellow;

  @media (min-width: $tablet-width) {
    padding-top: 120px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;
  }
}

.map__container {
  z-index: 1;

  background-color: $color-energy-yellow;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}

.map__route {
  z-index: 1;
  position: relative;

  margin-bottom: -30px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    padding: 0 35px;

    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 75px 51px;
  }
}

.map__route-address {
  position: relative;
  display: inline-flex;
  align-items: center;

  min-height: 42px;
  margin: 0 25px 35px 0;
  padding-left: 60px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 57px 0;
    padding-left: 94px;
  }

  @media (min-width: $desktop-width) {
    min-height: 90px;
    margin: 0;
    padding: 0 0 13px 23%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 45px;
    height: 45px;

    background-color: $color-midnight-express-mod-2;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: -12px;

      width: 68px;
      height: 68px;
    }

    @media (min-width: $desktop-width) {
      top: -6px;
      left: unset;
      right: 66%;

      width: 90px;
      height: 90px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 12px;

    width: 21px;
    height: 21px;

    background-image: url("../img/icon-map.svg");
    background-repeat: no-repeat;
    background-size: 21px 21px;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      left: 18px;

      width: 32px;
      height: 32px;

      background-size: 32px 32px;
    }

    @media (min-width: $desktop-width) {
      top: 47%;
      left: unset;
      right: 69.5%;

      width: 42px;
      height: 42px;

      background-size: 42px 42px;
    }
  }
}

.map__route-link {
  position: relative;
  width: 100%;
  margin-bottom: 35px;
  padding: 19px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $color-catalina-blue;

  border: 3px solid $color-midnight-express-mod-3;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
    padding: 25px 55px 25px 37px;
    border-radius: 20px;

    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    align-items: center;
    width: 324px;
    min-height: 80px;
    margin: 0;
    padding: 0 55px 0  34px;
  }
}

.map__link-icon {
  position: absolute;
  top: 50%;
  right: 18px;

  width: 14px;
  height: 16px;

  fill: $color-catalina-blue;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    right: 31px;
  }
}

.map__route-link:hover,
.map__route-link:focus {
  background-color: $color-midnight-express-mod-3;
  color: $color-white;

  .map__link-icon {
    fill: $color-white;
  }
}

.map__route-link:active {
  color: rgba($color-white, 0.3);

  .map__link-icon {
    opacity: 0.3;
  }
}

.map__wrapper {
  position: relative;
  z-index: -1;
}

.map__link {
  width: 100%;

  background-color: $color-very-light-grey;

  picture {
    width: 100%;
  }
}

.map__image {
  width: 100%;
  max-height: 422px;

  object-fit: contain;

  @media (min-width: $tablet-width) {
    max-height: 581px;
  }

  @media (min-width: $desktop-width) {
    min-height: 581px;
  }
}

.map__api {
  position: absolute;

  top: -30px;

  width: 100%;
  height: 100%;
}
