.nav__list {
  margin: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  @include list-reset;

  @media (min-width: $tablet-width) {
    padding: 0 57px;

    font-size: 60px;
    line-height: 71px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;

    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
  }
}

.nav__item {
  @media (min-width: $desktop-width) {
    margin-right: 5px;
    overflow: hidden;
  }
}

.nav__link {
  color: $color-midnight-express;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    align-items: center;
    padding-right: 34px;

    color: $color-white;
    overflow: hidden;
    outline: 0;
  }

  &--scroll {
    font-weight: 500;
    color: $color-midnight-express-mod-3;
  }
}

.nav__link-animation {
  display: inline-flex;
  position: relative;
  transition: transform 0.3s;

  &::before {
    @media (min-width: $desktop-width) {
      content: attr(data-hover);
      position: absolute;
      top: 100%;
      transform: translate3d(0, 0, 0);
      color: $color-energy-yellow;
    }
  }
}

.nav__link:hover {
  color: $color-energy-yellow;

  @media (min-width: $desktop-width) {
    color: $color-white;
  }
}

.nav__link:hover .nav__link-animation {
  @media (min-width: $desktop-width) {
    transform: translateY(-100%);
  }
}

.nav__link:active .nav__link-animation {
  &::before {
    color: rgba($color-energy-yellow, 0.3);
  }
}
