.pagination__list {
  display: none;
  margin: 0;

  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-grow: 1;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
  }
}

.pagination__item {
  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
  }
}

.pagination__link {
  @media (min-width: $tablet-width) {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    color: $color-catalina-blue;
  }

  &--current {
    @media (min-width: $tablet-width) {
      background-color: $color-energy-yellow;
      border-radius: 50%;
      pointer-events: none;
    }
  }
}

.pagination__link:hover,
.pagination__link:focus {
  color: rgba($color-catalina-blue, 0.6);
}

.pagination__link:active {
  color: $color-catalina-blue;
  background-color: $color-energy-yellow;
  border-radius: 50%;
}

.pagination__button {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  min-width: 135px;
  height: 50px;
  padding: 0;

  background-color: $color-white;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    min-width: 42px;
    min-height: 100%;
  }

  @media (min-width: $tablet-width) {
    min-width: 46px;
  }

  &::before {
    content: "";
    position: absolute;

    top: 18px;
    left: 50%;

    width: 13px;
    height: 20px;

    background-image: url("../img/icon-pagination-arrow.svg");
    background-repeat: no-repeat;
    background-size: 13px 20px;

    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      top: 14px;
    }
  }

  &--back {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &::before {
      transform: rotate(180deg) translateX(50%);
    }
  }

  &--next {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid $color-solitude-grey-mod-2;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }
}

.pagination__button:hover,
.pagination__button:focus {
  &::before {
    opacity: 0.6;
  }
}

.pagination__button:active {
  &::before {
    opacity: 0.3;
  }
}
