.producer {
  padding-top: 13px;

  border-top: 1px solid $color-white-smoke;

  @media (min-width: $tablet-width) {
    min-width: 154px;
    margin-left: 10px;
    padding: 0;

    border: none;
  }
}

.producer__link {
  align-items: center;

  width: 100%;
  height: 34px;
  padding-right: 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $color-charcoal-grey;

  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-size: 27px 34px;
  background-position: 100%;

  @media (min-width: $tablet-width) {
    min-height: 54px;
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 20px;

    background-position: 100% 75%;
  }
}

.producer__link:hover,
.producer__link:focus {
  opacity: 0.6;
}

.producer__link:active {
  opacity: 0.3;
}
