.producer {
  padding-top: 13px;

  border-top: 1px solid $color-white-smoke;

  @media (min-width: $tablet-width) {
    margin-left: 10px;
    padding: 0;

    border: none;
  }
}

.producer__description {
  align-self: center;
  margin: 0;
  padding: 9px 0;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $color-charcoal-grey;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
    padding-top: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.producer__link {
  width: 27px;
  height: 34px;

  background-image: url("../img/logo_html.svg");
  background-repeat: no-repeat;
  background-size: 27px 34px;
}
