.profile {
  position: relative;

  background-color: $color-white;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 285px;
  }
}

.profile:hover,
.profile:focus {
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.16);
}

.profile:hover .profile__image,
.profile:focus .profile__image {
  transform: scale(1.05);
}

.profile__link {
  width: 100%;

  overflow: hidden;

  border-radius: 10px 10px 0 0;

  @media (min-width: $tablet-width) {
    border-radius: 20px 20px 0 0;
  }

  picture {
    width: 100%;
  }
}

.profile__image {
  width: 100%;
  max-height: 360px;

  border-radius: 10px 10px 0 0;

  object-fit: cover;

  transition: all 0.3s;

  @media (min-width: $tablet-width) {
    min-width: 285px;

    border-radius: 20px 20px 0 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 291px;
  }
}

.profile__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 31px;
  }
}

.profile__name {
  margin: 0 0 15px 0;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px 0;
    padding: 6px 30px 0 68px;

    text-align: left;
  }
}

.profile__name-link {
  position: relative;

  max-width: 200px;

  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: $color-catalina-blue;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 22px;
  }
}

.profile__name-link:hover,
.profile__name-link:focus {
  opacity: 0.7;
}

.profile__name-link:active {
  opacity: 0.3;
}

.profile__status {
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -17px;

    width: 6px;
    height: 6px;

    background-color: $color-salmon;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      left: -23px;

      width: 8px;
      height: 8px;
    }
  }

  &--online {
    &::before {
      background-color: $color-lawn-green;
    }
  }
}

.profile__level {
  position: absolute;
  top: 16px;
  left: 17px;

  background-color: rgba($color-black, 0.6);
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 19px;
    left: 20px;
  }
}

.profile__tags-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 200px;
  margin: 0 auto 15px auto;
  padding: 0 43px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 23px auto;
    padding: 0 20px;
  }
}

.profile__tags-item {
  padding-right: 5px;
}

.profile__tags-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $color-charcoal-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
  }
}

.profile__routes-list {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  order: -1;
  width: 100%;
  margin-top: -40px;

  column-gap: 20px;

  @include list-reset;

  @media (min-width: $tablet-width) {
    margin-top: -48px;
  }
}

.profile__route {
  position: relative;
  display: block;
  width: 35px;
  height: 25px;
  margin-bottom: 10px;

  background-repeat: no-repeat;
  background-size: 35px 25px;

  object-fit: contain;

  &--sri-lanka {
    background-image: url("../img/sri-lanka.svg");
  }

  &--thailand {
    background-image: url("../img/thailand.svg");
  }

  &--seychelles {
    background-image: url("../img/seychelles.svg");
  }

  &--belgium {
    background-image: url("../img/belgium.svg");
  }

  &--czech {
    background-image: url("../img/czech.svg");
  }
}

.profile__tooltip {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;

  bottom: -60px;
  left: 50%;

  width: fit-content;
  min-height: 50px;
  padding: 0 18px;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $color-white;

  background-color: $color-midnight-express-mod;
  border-radius: 4px;
  transform: translateX(-50%);

  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 45%;

    width: 15px;
    height: 15px;

    background-color: $color-midnight-express-mod;
    transform: rotate(45deg);
  }
}

.profile__transport-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 136px;
  margin: 0 auto 20px auto;

  @include list-reset;

  @media (min-width: $tablet-width) {
    width: 140px;
    margin: 0 auto 26px auto;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }
}

.profile__transport-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 34px;
  height: 24px;

  @media (min-width: $tablet-width) {
    width: 35px;
    height: 25px;
    margin-top: 2px;
  }
}

.profile__transport-icon {
  opacity: 0.15;

  &--current {
    opacity: 1;
  }

  &--fly {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 22px;
    }
  }

  &--bicycle {
    @media (min-width: $tablet-width) {
      width: 25px;
      height: 25px;
    }
  }
}

.profile__transport-item:hover {
  .profile__tooltip {
    display: flex;
    opacity: 1;
  }
}

.profile__route:hover {
  .profile__tooltip {
    display: flex;
    opacity: 1;
  }
}
