.routes {
  position: relative;
  z-index: 5;

  margin-bottom: -30px;
  padding-top: 30px;

  background-color: $color-solitude-grey-mod-2;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: -60px;
    padding: 57px 0 46px 0;

    border-radius: 0 0 60px 60px;
  }
}

.routes__container {
  @media (min-width: $tablet-width) {
    padding: 0 75px;

    background-image: url("../img/flags-bg-tablet.png");
    background-repeat: no-repeat;
    background-position: 92% 18%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/flags-bg-tablet@2x.png");
      background-repeat: no-repeat;
      background-size: 288px 574px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;

    display: grid;
    padding: 164px 60px 91px 60px;

    column-gap: 60px;

    background-position: 96% 69%;

    grid-template-columns: 1fr 1fr;
  }
}

.routes__wrapper {
  padding: 70px 44px 0 25px;

  @media (min-width: $tablet-width) {
    padding: 73px 45% 0 0;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    width: fit-content;
    padding: 0 26% 0 18%;
  }
}

.routes__title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
}

.routes__description {
  margin: 0 0 62px 0;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $color-charcoal-grey;

  @media (min-width: $tablet-width) {
    margin: 0 0 108px 0;

    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    line-height: 33px;
  }
}

.routes__list {
  display: grid;
  margin-bottom: 26px;

  gap: 10px;
  grid-template-rows: min-content;

  @include list-reset;

  @media (min-width: $tablet-width) {
    position: relative;

    min-width: 450px;
    margin-bottom: 47px;

    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 70px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      z-index: -1;

      top: -36px;
      left: -35px;

      width: 141px;
      height: 141px;

      background-color: $color-lavender;
      border-radius: 20px;
    }

    @media (min-width: $desktop-width) {
      top: -72px;
      left: -71px;
    }
  }
}

.routes__item {
  z-index: 1;

  display: grid;

  grid-template-rows: min-content;

  @media (min-width: $tablet-width) {
    min-height: 140px;

    grid-template-columns: 1fr 185px;
  }

  @media (min-width: $desktop-width) {
    overflow: hidden;

    border-radius: 20px 0 0 20px;
  }
}

.routes__land-description {
  position: relative;
  z-index: 1;

  order: 2;
  margin-top: -10px;
  padding: 24px 83px 25px 24px;

  background-color: $color-white;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    order: -1;
    width: 100%;
    min-height: 140px;
    margin: 0;
    padding: 28px 48px 48px 30px;

    border-radius: 20px 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 26px 48px 30px;
  }

  &::before {
    content: "";
    position: absolute;

    top: -13px;
    left: 25px;

    width: 35px;
    height: 24px;

    background-repeat: no-repeat;
    background-size: 35px 24px;

    @media (min-width: $tablet-width) {
      top: 17px;
      left: unset;
      right: -35px;

      width: 70px;
      height: 47px;

      background-size: 70px 47px;
    }

    @media (min-width: $desktop-width) {
      top: 22px;
      right: -32px;
    }
  }

  &--thailand {
    &::before {
      background-image: url("../img/thailand.svg");
    }
  }

  &--france {
    &::before {
      background-image: url("../img/france.svg");
    }
  }

  &--czech {
    @media (max-width: $only-mobile-width) {
      padding-bottom: 8px;
    }

    &::before {
      background-image: url("../img/czech.svg");
    }
  }
}

.routes__land-title {
  margin: 0 0 1px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;

    font-size: 24px;
    line-height: 24px;
  }
}

.routes__land-tagline {
  margin: 0;
  padding-left: 2px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: rgba($color-charcoal-grey, 0.3);

  @media (min-width: $tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}

.routes__counter {
  position: absolute;

  top: 25px;
  right: 26px;

  width: 40px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba($color-midnight-express-mod-4, 0.3);

  @media (min-width: $tablet-width) {
    top: unset;
    right: unset;
    bottom: 23px;
    left: 58px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -18px;

    width: 11px;
    height: 12px;

    background-image: url("../img/counter-icon.svg");
    background-repeat: no-repeat;
    opacity: 0.1;

    @media (min-width: $tablet-width) {
      top: unset;
      right: unset;
      bottom: -2px;
      left: -30px;

      width: 20px;
      height: 20px;
    }
  }
}

.routes__image {
  width: 100%;

  border-radius: 10px 10px 0 0;

  @media (min-width: $tablet-width) {
    min-width: 559px;
    height: 100%;
    margin-left: -373px;

    border-radius: 20px;

    object-fit: cover;
  }
}

.routes__link {
  width: 100%;
  min-height: 62px;
  margin-bottom: 34px;

  @media (min-width: $desktop-width) {
    order: 2;
    margin: -70px 0 0 113px;

    grid-column: 2;
  }
}
