.show-button {
  padding: 23px;
  width: 100%;
  min-height: 62px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $blue-text;
  background-color: $light-yellow-color;
  border-radius: 10px;
}
