.show-button {
  min-height: 62px;
  padding: 23px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $color-catalina-blue;

  background-color: $color-energy-yellow;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    align-items: center;
    min-height: 82px;
    padding: 0 30px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 275px;
  }
}

.show-button:hover,
.show-button:focus {
  background-color: $color-supernova-yellow;
}

.show-button:active {
  color: rgba($color-catalina-blue, 0.3);
}
