.site-guide {
  @include list-reset;

  display: grid;
  margin: 0;
  padding-bottom: 40px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $color-midnight-express-mod-2;

  counter-reset: item;

  grid-template-rows: min-content;

  @media (min-width: $tablet-width) {
    margin-top: 11px;

    font-size: 24px;
    line-height: 24px;

    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    margin: 6px -19px 0 0;

    grid-template-columns: repeat(4, 1fr);
  }
}

.site-guide__item {
  position: relative;

  min-height: 95px;
  margin-bottom: -15px;
  padding: 22px 96px 22px 24px;

  border-radius: 10px;

  @media (min-width: $tablet-width) {
    min-height: 140px;
    margin: 0;
    padding: 29px 102px 31px 32px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: auto;
    min-height: 107px;
    margin: 0;
    padding: 30px 27% 30px 34px;
  }

  &::after {
    content: counter(item);
    position: absolute;
    top: 20px;
    right: 20px;

    color: $color-white;

    counter-increment: item;

    @media (min-width: $tablet-width) {
      top: unset;
      right: unset;
      bottom: 23px;
      left: 33px;

      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 30px;
    }

    @media (min-width: $desktop-width) {
      top: 30px;
      bottom: unset;
      left: 80%;

      font-size: 24px;
      line-height: 24px;
    }
  }

  &--orange {
    background-color: $color-neon-carrot-orange;

    @media (min-width: $tablet-width) {
      width: calc(100% + 40px);

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    @media (min-width: $desktop-width) {
      border-radius: 20px;
    }

    &::after {
      @media (min-width: $desktop-width) {
        left: 71%;
      }
    }
  }

  &--light-orange {
    background-color: $color-lightning-yellow;

    @media (min-width: $tablet-width) {
      width: 100%;

      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    @media (min-width: $desktop-width) {
      width: calc(100% + 40px);
      margin-left: -20px;

      border-radius: 20px;
    }
  }

  &--yellow {
    background-color: $color-supernova-yellow;

    @media (min-width: $tablet-width) {
      width: calc(100% + 40px);

      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    @media (min-width: $desktop-width) {
      margin-left: -10px;

      border-radius: 20px;
    }
  }

  &--light-yellow {
    min-height: 80px;
    background-color: $color-energy-yellow;

    @media (min-width: $tablet-width) {
      width: 100%;

      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    @media (min-width: $desktop-width) {
      max-width: 315px;

      border-radius: 20px;
    }

    &::after {
      @media (min-width: $desktop-width) {
        left: 86%;
      }
    }
  }
}
