.step {
  padding: 23px 25px 10px;

  background-color: $color-white;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    padding: 43px 40px 56px 40px;

    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 97px 160px 105px 158px;

    border-radius: 60px;
  }

  &--second {
    @media (min-width: $tablet-width) {
      margin-bottom: 50px;

      .step__description {
        margin-bottom: 33px;
        padding-right: 20%;

        @media (min-width: $desktop-width) {
          margin-bottom: 55px;
        }
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 43px;
    }
  }

  &--third {
    padding: 23px 21px 10px;

    @media (max-width: $only-mobile-width) {
      .step__title,
      .step__description,
      .step__entertainment {
        padding: 0 4px;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 43px 40px 53px 43px;

      .step__description {
        margin-bottom: 34px;
      }
    }

    @media (min-width: $desktop-width) {
      padding: 97px 160px 105px 158px;

      .step__description {
        margin-bottom: 55px;
        padding-left: 5px;
      }
    }
  }
}

.step__title {
  width: fit-content;
  margin: 0 auto 17px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $color-catalina-blue;

  @media (min-width: $tablet-width) {
    max-width: 785px;
    margin: 0 auto 37px 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 70px;
  }
}

.step__number {
  display: block;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.step__title-wrapper {
  display: flex;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.step__breadcrumbs {
  display: none;
  margin: 0;

  @include list-reset;

  &--for-mobile {
    position: absolute;
    top: 0;
    right: 49px;

    display: flex;

    @media (min-width: $tablet-width) {
      top: 0;
      right: 58px;
    }
  }

  @media (min-width: $desktop-width) {
    position: static;

    display: flex;
    flex-direction: column;

    top: unset;
    right: unset;

    margin: 10px 47px 0 0;
  }
}

.step__description {
  margin: 0 0 21px 0;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $color-charcoal-grey;

  @media (min-width: $tablet-width) {
    margin: 0 0 38px 0;
    padding-right: 33px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 615px;
    margin: -70px 0 55px 0;
  }
}

.step__fieldset {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $color-catalina-blue;
  text-transform: uppercase;
  letter-spacing: 0.09em;

  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    margin-bottom: 31px;
    padding-top: 30px;

    border-top: 1px solid $color-solitude-grey-mod;

    grid-template-columns: 1fr 1fr;
  }
}

.step__wrapper {
  display: grid;
  margin-bottom: 18px;

  grid-template-columns: 1fr min-content;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;

    border-top: 1px solid $color-solitude-grey-mod;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    min-width: 475px;
    margin-bottom: 14px;

    border: none;
  }
}

.step__wrapper-days {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.step__label {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 26px 0;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    margin-right: 22px;

    letter-spacing: normal;
  }
}

.step__unit {
  margin: 0 0 10px 0;

  color: rgba($color-catalina-blue, 0.3);

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 26px 0;
    letter-spacing: 0;

    &--letter {
      letter-spacing: 0.12em;
    }
  }

  @media (min-width: $desktop-width) {
    order: 3;
    min-width: 40px;

    color: $color-catalina-blue;
    letter-spacing: normal;
  }
}

.step__input-wrapper {
  position: relative;
  display: flex;
  min-height: 43px;

  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    min-height: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    margin-right: 35px;
  }
}

.step__input {
  flex-grow: 2;
  width: 140px;
  padding: 5px 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $color-catalina-blue;
  text-transform: uppercase;

  background-color: $color-white;
  border: 1px solid $color-link-water-grey;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 100px;
  }
}

.step__button-quantity {
  position: absolute;
  flex-grow: 1;
  width: 40px;
  height: 41px;
  padding: 0;

  background-color: $color-white;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 68px;
  }

  &--less {
    top: 1px;
    left: 1px;

    &::before {
      content: "";
      position: absolute;

      top: 50%;
      left: 50%;

      width: 14px;
      height: 2px;

      background-color: $color-very-light-grey;
      transform: translate(-50%, -50%);

      @media (min-width: $tablet-width) {
        left: 62%;

        width: 20px;
      }
    }
  }

  &--more {
    top: 1px;
    right: 1px;

    &::before {
      content: "";
      position: absolute;

      top: 50%;
      left: 50%;

      width: 14px;
      height: 2px;

      background-color: $color-very-light-grey;
      transform: translate(-50%, -50%);

      @media (min-width: $tablet-width) {
        left: 38%;

        width: 20px;
      }
    }

    &::after {
      content: "";
      position: absolute;

      top: 50%;
      left: 50%;

      width: 2px;
      height: 14px;

      background-color: $color-very-light-grey;
      transform: translate(-50%, -50%);

      @media (min-width: $tablet-width) {
        left: 38%;

        height: 20px;
      }
    }
  }
}

.step__button-quantity:hover,
.step__button-quantity:focus {
  &::before,
  &::after {
    background-color: $color-nobel-grey;
  }
}

.step__button-quantity:active {
  &::before,
  &::after {
    background-color: $color-whisper-grey;
  }
}

.step__input:hover {
  border: 1px solid $color-rock-blue;
}

.step__input:focus {
  outline: none;
  border: 1px solid $color-midnight-express-mod-2;
}

.step__input:hover + .step__buttons {
  .step__button-quantity::before,
  .step__button-quantity::after {
    background-color: $color-rock-blue;
  }
}

.step__input:focus + .step__buttons {
  .step__button-quantity::before,
  .step__button-quantity::after {
    background-color: $color-midnight-express-mod-2;
  }
}

.step__checkbox-wrapper {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    justify-self: right;
  }
}

.step__checkbox-label {
  position: relative;

  display: flex;
  padding: 5px 0 0 39px;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: $color-catalina-blue;
  text-transform: none;
  letter-spacing: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 7px 0 0 58px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    min-height: 100%;
    padding: 15px 0 0 60px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;

    width: 26px;
    height: 26px;

    border: 1px solid $color-link-water-grey;
    border-radius: 4px;

    @media (min-width: $tablet-width) {
      top: 0;

      width: 36px;
      height: 36px;
    }

    @media (min-width: $desktop-width) {
      top: 16px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: none;

    top: 7px;
    left: 10px;

    width: 8px;
    height: 8px;

    background-image: url("../img/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: 13px;
      left: 13px;

      width: 11px;
      height: 11px;
    }

    @media (min-width: $desktop-width) {
      top: 28px;
      left: 13px;
    }
  }
}

.step__checkbox-label:hover,
.step__checkbox-label:focus {
  &::before {
    border: 1px solid $color-rock-blue;
  }
}

.step__checkbox-label:active {
  &::before {
    border: 1px solid $color-atlantis;
    background-color: $color-atlantis;
  }

  &::after {
    opacity: 0.3;
  }
}

.step__checkbox-input:checked + .step__checkbox-label {
  &::after {
    display: block;
  }
}

.step__calendar-wrapper {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.step__route-list {
  margin: 0 0 26px 0;

  @include list-reset;

  @media (min-width: $tablet-width) {
    position: relative;

    margin-bottom: 0;
    padding: 44px 0 36px 0;

    border-top: 1px solid $color-solitude-grey-mod;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 26%;

      width: 1px;
      height: 100%;

      background: linear-gradient(to top, $color-white 0%, $color-solitude-grey-mod 21%);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 62px 0 45px 0;

    &::before {
      right: 22.5%;

      height: 121%;

      background: $color-solitude-grey;
    }
  }
}

.step__routes-item {
  position: relative;

  display: grid;
  margin-bottom: 22px;

  grid-template-columns: 1fr 52px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;

    column-gap: 10%;

    grid-template-columns: 69% 21%;
  }

  @media (min-width: $desktop-width) {
    column-gap: 0;

    grid-template-columns: 74% 26%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 47px;
    z-index: 2;

    width: 8px;
    height: 8px;

    background-color: $color-catalina-blue;
    border-radius: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      top: 46%;
      right: 25%;

      width: 14px;
      height: 14px;
    }

    @media (min-width: $desktop-width) {
      right: 21.8%;
    }
  }

  &--add-land {
    display: block;

    @media (min-width: $tablet-width) {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 47px;
      z-index: 1;

      width: 8px;
      height: 8px;

      background-color: $color-transparent;
      border: 1px solid $color-link-water-grey;
      border-radius: 50%;
      transform: translateY(-50%);

      @media (min-width: $tablet-width) {
        right: 25%;

        width: 14px;
        height: 14px;

        background-color: $color-hawkes-blue-mod;
      }

      @media (min-width: $desktop-width) {
        right: 21.8%;
      }
    }
  }

  &--alphabet {
    @media (min-width: $tablet-width) {
      padding-right: 31%;
    }

    @media (min-width: $desktop-width) {
      padding-right: 26%;
    }

    &::before {
      background-color: $color-white;
    }
  }
}

.step__route-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  min-height: 42px;

  border: 1px solid $color-link-water-grey;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    min-height: 70px;
    padding-right: 55px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    max-width: 730px;
  }
}

.step__alphabet-modal {
  padding: 0;
}

.step__selected-route {
  overflow: hidden;

  @media (min-width: $tablet-width) {
    overflow: unset;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;

    top: 0;
    right: 0;

    width: 30%;
    height: 100%;

    background: linear-gradient(to right, $color-transparent 0%, $color-white 30%);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 2;

    top: 14px;
    right: 7%;

    width: 16px;
    height: 12px;

    background-image: url("../img/icon-arrow-calendar.svg");
    background-repeat: no-repeat;
    background-size: 16px 12px;

    transform: rotate(90deg);
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      top: 26px;

      width: 20px;
      height: 17px;

      background-size: 20px 17px;
    }

    @media (min-width: $desktop-width) {
      top: 21px;
      right: 3%;

      width: 22px;
      height: 24px;

      background-size: 22px 24px;
    }
  }
}

.step__flag-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 52px;
  height: 42px;
  margin-left: 1px;

  border: 1px solid $color-link-water-grey;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 70px;

    border: none;

    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.step__route-flag {
  width: 35px;
  height: 24px;

  background-repeat: no-repeat;
  background-size: 35px 24px;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;

    background-size: 70px 47px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -45px;
  }

  &--bosnia {
    background-image: url("../img/bosnia-and-herzegovina.svg");
  }

  &--czech {
    background-image: url("../img/czech.svg");
  }
}

.step__route {
  position: relative;
  display: inline-flex;
  flex-grow: 2;
  align-items: center;
  width: 60%;
  margin: 0 -22px 0 0;
  padding-left: 10px;

  overflow: hidden;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $color-catalina-blue;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 27px;

    font-size: 20px;
    line-height: 20px;

    white-space: normal;
    overflow: unset;
  }
}

.step__choose-route {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-left: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $color-catalina-blue;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 27px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
}

.step__alphabet-link {
  position: relative;

  padding-right: 40px;

  @media (min-width: $tablet-width) {
    padding-right: 55px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;

    top: 14px;
    right: 6%;

    width: 16px;
    height: 12px;

    background-image: url("../img/icon-arrow-calendar.svg");
    background-repeat: no-repeat;
    background-size: 16px 12px;

    transform: rotate(90deg);
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      top: 29px;
      right: 7%;

      width: 20px;
      height: 17px;

      background-size: 20px 17px;
    }

    @media (min-width: $desktop-width) {
      top: 22px;
      right: 3%;

      width: 22px;
      height: 24px;

      background-size: 22px 24px;
    }
  }
}

.step__alphabet-modal--opened {
  z-index: 9;
  width: 100%;
  background-color: $color-midnight-express;
  border-radius: 4px 4px 0 0;

  .step__alphabet-link::before {
    display: none;
  }

  .step__choose-route {
    padding-left: 15px;

    color: $color-white;
    letter-spacing: 0.02em;

    @media (min-width: $tablet-width) {
      padding-left: 27px;
      letter-spacing: 0.1em;
    }
  }

  .step__alphabet-wrapper {
    display: block;

    @media (min-width: $tablet-width) {
      display: grid;
    }
  }

  .step__close-alphabet-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    padding: 0;

    top: 50%;
    right: 0;

    background-color: $color-transparent;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      right: 4%;
    }

    @media (min-width: $desktop-width) {
      right: 2%;
    }
  }

  .step__close-route-button {
    @media (max-width: $only-mobile-width) {
      display: none;
    }
  }
}

.step__close-alphabet-button:hover,
.step__close-alphabet-button:focus {
  .step__close-icon--alphabet {
    opacity: 1;
  }
}

.step__close-alphabet-button:active {
  .step__close-icon--alphabet {
    opacity: 0.1;
  }
}

.step__add-routes {
  position: relative;
  width: 100%;
  min-height: 42px;
  padding: 0 40px 0 10px;

  font-family: $font-family-blogger-sans;

  background-color: $color-solitude-grey-mod-2;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 69%;
    min-height: 70px;
    padding: 0 55px 0 28px;
  }

  @media (min-width: $desktop-width) {
    width: 74%;
    max-width: 730px;
  }

  &::before {
    content: "";
    position: absolute;

    top: 50%;
    right: 6%;

    width: 14px;
    height: 2px;

    background-color: $color-link-water-grey-mod;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      top: 52%;
      right: 7%;
      width: 20px;
      height: 2px;
    }

    @media (min-width: $desktop-width) {
      right: 3.5%;
    }
  }

  &::after {
    content: "";
    position: absolute;

    top: 50%;
    right: 9%;

    width: 2px;
    height: 14px;

    background-color: $color-link-water-grey-mod;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      top: 52%;
      right: 9.5%;

      width: 2px;
      height: 20px;
    }

    @media (min-width: $desktop-width) {
      right: 4.8%;
    }
  }
}

.step__add-routes:hover,
.step__add-routes:focus {
  background-color: $color-hawkes-blue-mod;

  &::before,
  &::after {
    background-color: $color-black;
    opacity: 0.3;
  }
}

.step__add-routes:active {
  &::before,
  &::after {
    background-color: $color-black;
    opacity: 0.1;
  }
}

.step__close-route-button {
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-items: center;

  top: -10px;
  right: -10px;

  width: 21px;
  height: 21px;
  padding: 0;

  background-color: $color-solitude-grey-mod-2;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 50%;
    right: -2%;

    width: 40px;
    height: 40px;

    background-color: $color-transparent;
    border-radius: 0;
    transform: translateY(-50%);
  }

  @media (min-width: $desktop-width) {
    right: -4px;
  }
}

.step__close-route-button:hover,
.step__close-route-button:focus {
  .step__close-icon {
    opacity: 0.3;
  }
}

.step__close-route-button:active {
  opacity: 0.05;
}

.step__close-alphabet-button {
  display: none;
}

.step__close-icon {
  width: 9px;
  height: 9px;

  stroke: $color-black;
  opacity: 0.1;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }

  &--alphabet {
    stroke: $color-white;
    opacity: 0.3;
  }
}

.step__alphabet-wrapper {
  position: absolute;
  top: 40px;
  left: -1px;
  z-index: 999;

  display: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    top: 70px;

    min-width: 578px;
    padding: 35px 23px 33px 31px;

    column-gap: 20%;

    background-color: $color-white;
    box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);

    grid-template-columns: 1fr 177px;
  }

  @media (min-width: $desktop-width) {
    min-width: 100%;
    max-width: 730px;
    padding: 34px 5% 36px 4%;
    column-gap: 6%;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 0;
      right: 206px;

      width: 1px;
      height: 100%;

      background-color: $color-hawkes-blue-mod-3;
    }

    @media (min-width: $desktop-width) {
      right: 236px;
    }
  }
}

.step__alphabet {
  min-width: 220px;
  margin: 0;

  @include list-reset;

  @media (min-width: $tablet-width) {
    min-width: 262px;
    min-height: 346px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    max-width: 361px;
    height: 408px;

    gap: 16px;

    background-color: $color-white;
  }
}

.step__routes-by-letter {
  @include list-reset;

  width: 100%;
  min-width: 220px;
  margin: 0;
  padding: 19px 20px 15px 18px;

  background-color: $color-white;
  border: 1px solid $color-link-water-grey;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 2px 16px rgba($color-hawkes-blue-mod-2, 0.25);

  @media (min-width: $tablet-width) {
    min-width: 177px;
    padding: 0;

    border: none;
    box-shadow: none;
  }
}

.step__entertainment {
  position: relative;

  margin: 0;

  @include list-reset;

  @media (min-width: $tablet-width) {
    padding-top: 35px;

    border-top: 1px solid $color-solitude-grey-mod;
  }

  @media (min-width: $desktop-width) {
    width: 78%;
    padding-top: 50px;

    border: none;

    grid-column: 1/-1;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 11px;
    left: -10px;

    width: 12px;
    height: 52.4%;

    border-top: 2px solid $color-catalina-blue;
    border-left: 2px solid $color-catalina-blue;
    border-bottom: 2px solid $color-catalina-blue;

    @media (min-width: $tablet-width) {
      top: 50px;
      left: unset;
      right: 6px;

      height: 48%;

      border: none;
      border-right: 2px solid $color-catalina-blue;
    }

    @media (min-width: $desktop-width) {
      top: 65px;
    }
  }
}

.step__entertainment-item {
  position: relative;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 19px;

    @media (min-width: $desktop-width) {
      margin-bottom: 3px;
    }
  }
}

.step__entertainment-route {
  position: relative;
  display: inline-flex;

  width: 100%;
  margin: 0 0 18px 0;
  padding-left: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: $color-catalina-blue;
  text-transform: none;
  letter-spacing: 0;

  @media (min-width: $tablet-width) {
    margin: 0 33px 38px 0;
    padding: 0 122px 0 0;

    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 100px 38px 0;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 2;

    top: -3px;
    right: 0;

    width: 35px;
    height: 24px;

    background-repeat: no-repeat;
    background-size: 35px 24px;

    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: -8px;
      right: 33px;

      width: 70px;
      height: 47px;

      background-size: 70px 47px;
    }

    @media (min-width: $desktop-width) {
      top: -6px;
      right: -105px;
    }
  }

  &--bosnia {
    &::before {
      background-image: url("../img/bosnia-and-herzegovina.svg");
    }
  }

  &--czech {
    &::before {
      background-image: url("../img/czech.svg");
    }
  }

  &::after {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 84%;
    height: 100%;

    background: linear-gradient(to right, $color-transparent 0%, $color-transparent 79%, $color-white 90%, $color-white 100%);

    @media (min-width: $tablet-width) {
      z-index: 1;
      top: 9px;
      left: unset;
      right: 0;

      width: 14px;
      height: 14px;

      background: $color-catalina-blue;
      border-radius: 50%;
    }
  }
}

.step__entertainment-land {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: 8px;
    left: -13px;

    width: 6px;
    height: 6px;

    background-color: $color-catalina-blue;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.step__entertainment-error-text {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;

  bottom: 3px;
  left: 1px;

  width: calc(100% - 2px);
  height: 56px;
  padding: 10px 21px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: none;
  color: $color-red;
  background-color: $color-white-smoke-pink;
  border-radius: 0 0 4px 4px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    bottom: 28px;

    width: calc(94% - 2px);
  }

  @media (min-width: $desktop-width) {
    bottom: 25px;
  }
}

.step__entertainment-comment {
  position: relative;
  width: 100%;
  min-height: 220px;
  padding: 10px 14px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: $font-family-blogger-sans;
  color: $color-charcoal-grey;

  border: 1px solid $color-link-water-grey;
  border-radius: 4px;

  resize: none;

  @media (min-width: $tablet-width) {
    width: 94%;
    min-height: 142px;
    margin-bottom: 24px;
    padding: 19px 40px 19px 18px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
    padding: 24px 20px 20px 25px;
  }

  &::placeholder {
    line-height: 22px;
    font-family: $font-family-blogger-sans;
    color: rgba($color-charcoal-grey, 0.3);

    @media (min-width: $tablet-width) {
      line-height: 20px;
    }
  }

  &--error {
    border: 1px solid $color-light-coral;
  }
}

.step__entertainment-comment--error:active {
  border: 1px solid $color-light-coral;
}

.step__entertainment-comment--error + .step__entertainment-error-text {
  display: inline-flex;
}

.step__entertainment-comment:hover {
  border: 1px solid $color-rock-blue;
}

.step__entertainment-comment:focus,
.step__entertainment-comment:active {
  outline: none;
  border: 1px solid $color-midnight-express-mod-2;

  &::placeholder {
    color: $color-charcoal-grey;
  }
}

.step__entertainment-comment--error:active,
.step__entertainment-comment--error:focus {
  border: 1px solid $color-light-coral;
}

.step__button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.step__button {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: $color-catalina-blue;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    min-height: 80px;

    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-transform: unset;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;

      top: 50%;
      right: 36px;

      width: 14px;
      height: 14px;

      background-image: url("../img/icon-arrow-button.svg");
      background-repeat: no-repeat;
      background-size: 14px 14px;
      transform: translateY(-50%);
    }
  }

  &--next {
    margin-bottom: 12px;

    background-color: $color-energy-yellow;
    border-radius: 20px;

    &::before {
      @media (min-width: $tablet-width) {
        right: 32px;
      }

      @media (min-width: $desktop-width) {
        right: 37px;
      }
    }

    @media (min-width: $tablet-width) {
      justify-content: flex-start;
      width: 284px;
      margin: 0;
      padding: 5px 55px 5px 34px;
    }

    @media (min-width: $desktop-width) {
      width: 287px;
    }
  }

  &--back {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      width: 185px;
      padding: 0 0 0 35px;

      text-align: right;
    }

    &::before {
      @media (min-width: $tablet-width) {
        left: 0;

        transform: translateY(-50%) rotate(180deg);
      }

      @media (min-width: $desktop-width) {
        left: -1px;
      }
    }
  }

  &--send {
    margin-bottom: 13px;

    font-family: $font-family-blogger-sans;

    background-color: $color-energy-yellow;
    border-radius: 20px;

    @media (min-width: $tablet-width) {
      width: 286px;
      margin-bottom: 0;
      padding: 5px 55px 5px 34px;

      text-align: left;
    }
  }
}

.step__button:hover,
.step__button:focus {
  background-color: $color-supernova-yellow;
}

.step__button:active {
  color: rgba($color-catalina-blue, 0.3);

  &::before {
    opacity: 0.3;
  }
}

.step__button--back:hover,
.step__button--back:focus {
  background-color: $color-white;

  color: rgba($color-catalina-blue, 0.7);

  &::before {
    opacity: 0.7;
  }
}

.step__button--back:active {
  color: rgba($color-catalina-blue, 0.3);

  &::before {
    opacity: 0.3;
  }
}
