.step {
  padding: 25px;

  background-color: $color-white;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    padding: 48px 40px 56px 40px;

    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 152px 105px 152px;
  }
}

.step__title {
  width: fit-content;
  margin: 0 auto 15px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $color-catalina-blue;

  @media (min-width: $tablet-width) {
    max-width: 785px;
    margin: 0 auto 35px 0;

    font-size: 36px;
    line-height: 36px;
  }
}

.step__number {
  display: block;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.step__title-wrapper {
  display: flex;
}

.step__breadcrumbs {
  display: none;
  margin: 0;

  @include list-reset;

  @media (min-width: $desktop-width) {
    display: block;
  }

  &--for-mobile {
    position: absolute;
    top: 2px;
    right: 43px;

    display: flex;

    @media (min-width: $tablet-width) {
      right: 80px;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      top: unset;
      right: unset;

      flex-direction: column;
    }
  }
}

.step__description {
  margin: 0 0 20px 0;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $color-charcoal-grey;

  @media (min-width: $tablet-width) {
    margin: 0 0 38px 0;
    padding-right: 33px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 615px;
    margin: 0 0 55px 0;
  }
}

.step__fieldset {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $color-catalina-blue;
  text-transform: uppercase;
  letter-spacing: 0.09em;

  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    margin-bottom: 33px;
    padding-top: 30px;

    border-top: 1px solid $color-solitude-grey-mod;

    grid-template-columns: 1fr 1fr;
  }
}

.step__wrapper {
  display: grid;
  margin-bottom: 20px;

  grid-template-columns: 1fr min-content;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;

    border-top: 1px solid $color-solitude-grey-mod;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    min-width: 475px;
    margin-bottom: 14px;

    border: none;
  }
}

.step__wrapper-days {
  @media (min-width: $tablet-width) {
    order: 3;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.step__label {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 26px 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 177px;

    letter-spacing: normal;
  }
}

.step__unit {
  margin: 0 0 10px 0;

  color: rgba($color-catalina-blue, 0.3);

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 26px 0;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    min-width: 40px;

    color: $color-catalina-blue;
    letter-spacing: normal;
  }
}

.step__input-wrapper {
  display: flex;
  min-height: 43px;

  border: 1px solid $color-link-water-grey;
  border-radius: 4px;

  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    min-height: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}

.step__input {
  flex-grow: 2;
  width: 140px;
  padding: 5px 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $color-catalina-blue;
  text-transform: uppercase;

  background-color: $color-white;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 100px;
  }
}

.step__button-quantity {
  flex-grow: 1;
  width: 40px;
  padding: 0;

  background-color: $color-white;
}

.step__checkbox-wrapper {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    justify-self: right;
  }
}

.step__checkbox-label {
  position: relative;

  display: flex;
  padding: 5px 0 0 39px;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: $color-catalina-blue;
  text-transform: none;

  @media (min-width: $tablet-width) {
    padding: 5px 0 0 60px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 26px;
    height: 26px;

    border: 1px solid $color-link-water-grey;
    border-radius: 4px;

    @media (min-width: $tablet-width) {
      width: 36px;
      height: 36px;
    }
  }
}

.step__calendar-wrapper {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.step__route-list {
  margin: 0;

  @include list-reset;

  @media (min-width: $tablet-width) {
    position: relative;

    margin-bottom: 0;
    padding: 42px 0 30px 0;

    border-top: 1px solid $color-solitude-grey-mod;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 25%;

      width: 1px;
      height: 100%;

      background: linear-gradient(to top, $color-white 0%, $color-solitude-grey-mod 21%);
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      right: 21%;
    }
  }
}

.step__routes-item {
  position: relative;

  display: grid;
  margin-bottom: 22px;

  grid-template-columns: 1fr 52px;

  @media (min-width: $tablet-width) {
    column-gap: 10%;

    grid-template-columns: 67% 23%;
  }

  @media (min-width: $desktop-width) {
    column-gap: 0;

    grid-template-columns: 74% 26%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 47px;
    z-index: 1;

    width: 8px;
    height: 8px;

    background-color: $color-catalina-blue;
    border-radius: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      right: 24%;

      width: 14px;
      height: 14px;
    }

    @media (min-width: $desktop-width) {
      right: 20.3%;
    }
  }

  &--add-land {
    display: block;

    @media (min-width: $tablet-width) {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 47px;

      width: 8px;
      height: 8px;

      background-color: $color-transparent;
      border: 1px solid $color-link-water-grey;
      border-radius: 50%;
      transform: translateY(-50%);

      @media (min-width: $tablet-width) {
        right: 24%;

        width: 14px;
        height: 14px;

        background-color: $color-white;
      }

      @media (min-width: $desktop-width) {
        right: 20.3%;
      }
    }
  }

  &--alphabet {
    @media (min-width: $tablet-width) {
      padding-right: 33%;
    }

    @media (min-width: $desktop-width) {
      padding-right: 26%;
    }
  }
}

.step__route-wrapper {
  display: flex;
  width: 100%;
  min-height: 42px;

  border: 1px solid $color-link-water-grey;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    min-height: 70px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    max-width: 730px;
  }
}

.step__flag-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 52px;
  height: 42px;

  border: 1px solid $color-link-water-grey;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 70px;

    border: none;

    justify-self: right;
  }
}

.step__route-flag {
  width: 35px;
  height: 24px;

  background-color: #f80000;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }
}

.step__route {
  display: inline-flex;
  flex-grow: 2;
  align-items: center;
  margin: 0;
  padding-left: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $color-catalina-blue;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @media (min-width: $tablet-width) {
    padding-left: 25px;

    font-size: 20px;
    line-height: 20px;
  }
}

.step__choose-route {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-left: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $color-catalina-blue;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @media (min-width: $tablet-width) {
    width: 67%;
    padding-left: 25px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
}

.step__choose-route-button {
  flex-grow: 1;
  min-width: 58px;
  padding: 0;

  background: linear-gradient(to right, $color-transparent 0%, $color-transparent 15%, $color-white 100%);
}

.step__add-routes {
  width: 100%;
  min-height: 42px;
  padding: 0 0 0 10px;

  font-family: $font-family-blogger-sans;

  background-color: $color-solitude-grey-mod-2;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 67%;
    min-height: 70px;
    padding: 0 0 0 25px;
  }

  @media (min-width: $desktop-width) {
    width: 74%;
    max-width: 730px;
  }
}

.step__close-route-button {
  position: absolute;
  top: -10px;
  right: -10px;

  width: 21px;
  height: 21px;

  background-color: $color-solitude-grey-mod-2;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 50%;
    right: 0;

    width: 22px;
    height: 24px;

    border-radius: 0;
    transform: translateY(-50%);
  }

  &--right {
    @media (min-width: $desktop-width) {
      right: -37.2%;
    }
  }
}

.step__alphabet-wrapper {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 99;

  display: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    top: 70px;

    display: grid;
    min-width: 588px;
    padding: 35px 23px 33px 27px;

    column-gap: 80px;

    background-color: $color-white;
    box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);

    grid-template-columns: 1fr 183px;
  }

  @media (min-width: $desktop-width) {
    min-width: 100%;
    max-width: 730px;
    padding: 32px 7% 36px 3%;
    column-gap: 10%;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 0;
      right: 221px;

      width: 1px;
      height: 100%;

      background-color: $color-hawkes-blue-mod-3;
    }

    @media (min-width: $desktop-width) {
      right: 39%;
    }
  }
}

.step__alphabet {
  min-width: 220px;
  margin: 0;

  @include list-reset;

  @media (min-width: $tablet-width) {
    min-width: 262px;
    min-height: 346px;
  }

  @media (min-width: $desktop-width) {
    max-width: 361px;
    height: 408px;

    gap: 16px;
  }
}

.step__routes-by-letter {
  @include list-reset;

  width: 100%;
  min-width: 220px;
  margin: 0;
  padding: 20px;

  background-color: $color-white;
  border: 1px solid $color-link-water-grey;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 2px 16px rgba($color-hawkes-blue-mod-2, 0.25);

  @media (min-width: $tablet-width) {
    min-width: 183px;
    padding: 0;

    border: none;
    box-shadow: none;
  }
}

.step__entertainment {
  margin: 0;

  @include list-reset;

  @media (min-width: $tablet-width) {
    padding-top: 36px;

    border-top: 1px solid $color-solitude-grey-mod;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;

    border: none;

    grid-column: 1/-1;
  }
}

.step__entertainment-route {
  position: relative;

  margin: 0 0 18px 0;
  padding-left: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: $color-catalina-blue;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin: 0 33px 38px 0;
    padding: 0 0 0 5px;

    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 100px 38px 0;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 70px;
      height: 47px;

      background-color: #f80000;
    }
  }
}

.step__entertainment-comment {
  width: 100%;
  min-height: 220px;
  margin-bottom: 27px;
  padding: 10px 14px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: $font-family-blogger-sans;
  color: $color-charcoal-grey;

  border: 1px solid $color-link-water-grey;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    min-height: 142px;
    margin-bottom: 53px;
    padding: 19px 18px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
  }

  &::placeholder {
    line-height: 22px;
    font-family: $font-family-blogger-sans;
    color: rgba($color-charcoal-grey, 0.3);

    @media (min-width: $tablet-width) {
      line-height: 20px;
    }
  }
}

.step__button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.step__button {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: $color-catalina-blue;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    min-height: 80px;

    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-transform: unset;
  }

  &--next {
    margin-bottom: 13px;

    background-color: $color-energy-yellow;
    border-radius: 20px;

    @media (min-width: $tablet-width) {
      width: 284px;
      margin: 0;
    }
  }

  &--back {
    @media (min-width: $tablet-width) {
      width: 185px;
      padding: 0 0 0 35px;

      text-align: right;
    }
  }

  &--send {
    margin-bottom: 13px;

    font-family: $font-family-blogger-sans;

    background-color: $color-energy-yellow;
    border-radius: 20px;

    @media (min-width: $tablet-width) {
      width: 286px;
      margin-bottom: 0;
    }
  }
}
