.tariff {
  counter-reset: item;
}

.tariff__item {
  position: relative;

  border-top: 1px solid $color-solitude-grey-mod;
}

.tariff__item-counter {
  margin: 0 45px 0 25px;

  @media (min-width: $tablet-width) {
    margin: 0 35px 0 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 25px;
  }

  &::after {
    content: counter(item);
    position: absolute;
    top: 20%;
    right: -31px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: $color-white;

    counter-increment: item;

    @media (min-width: $tablet-width) {
      right: unset;
      top: 50%;
      left: -63px;

      font-size: 28px;
      line-height: 28px;

      transform: translateY(-50%);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 6%;
    right: -44px;

    width: 34px;
    height: 34px;

    background-color: $color-lightning-yellow;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      right: unset;
      top: 50%;
      left: -90px;

      width: 68px;
      height: 68px;

      transform: translateY(-50%);
    }
  }

  &--orange {
    &::before {
      background-color: $color-neon-carrot-orange;
    }
  }

  &--light-orange {
    &::before {
      background-color: $color-supernova-yellow;
    }
  }

  &--yellow {
    &::before {
      background-color: $color-energy-yellow;
    }
  }
}

.tariff__item:last-child {
  border-bottom: 1px solid $color-solitude-grey-mod;
}

.tariff__advantage {
  margin: 0;
  padding: 14px 0;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: $color-charcoal-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    padding: 17px 0 16px 0;

    font-size: 28px;
    line-height: 28px;
    column-gap: 20px;

    grid-template-columns: 1fr min-content;
  }

  &--for-business {
    @media (min-width: $tablet-width) {
      font-size: 22px;
      line-height: 28px;
    }
  }
}

.tariff__power {
  margin-bottom: 5px;
}

.tariff__price {
  margin: 0;

  justify-self: end;

  @media (min-width: $tablet-width) {
    min-width: 150px;

    text-align: right;
  }

  &--for-business {
    @media (min-width: $tablet-width) {
      min-width: 160px;
    }

    @media (min-width: $desktop-width) {
      min-width: 165px;
    }
  }
}
