.transport {
  display: flex;

  &__label {
    margin-right: 1px;
    display: flex;
    width: 32px;
    height: 32px;
    background-color: $white-color;
    border-radius: 50%;
    cursor: pointer;
  }

  &__tooltip {
    padding: 18px;
    display: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: $white-color;
    background-color: $dark-blue-color;
    border-radius: 4px;
  }
}
