.user-profile {
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
  }
}

.user-profile__form {
  @media (min-width: $tablet-width) {
    position: relative;

    padding: 0 35px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    margin-bottom: 56px;
    padding: 0 0 0 63px;

    column-gap: 11%;

    grid-template-columns: 1fr min-content;
  }
}

.user-profile__image-level-wrapper {
  z-index: 4;
  display: grid;
  margin-bottom: 19px;
  padding: 0 20px;

  grid-template-columns: 1fr 1fr;
  column-gap: 13%;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -261px;
    right: 7.2%;

    width: 330px;
    margin: 0;
  }
}

.user-profile__level {
  position: relative;
  width: 100px;
  height: 100px;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}

.user-profile__circle {
  top: 0;
  left: -3px;

  @media (min-width: $tablet-width) {
    top: -3px;
  }

  @media (min-width: $desktop-width) {
    top: -10px;
  }
}

.user-profile__add-image {
  margin: 0;
  padding: 0;

  border: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -72px;
    right: 7.2%;

    width: 190px;
    min-height: 47px;
  }
}

.user-profile__image {
  margin-left: auto;

  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
    margin: 0;

    border-radius: 7px;
  }

  @media (min-width: $desktop-width) {
    min-width: 190px;
    height: 190px;

    border-radius: 15px 15px 0 0;
  }
}

.user-profile__add-image-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 26px;
  padding: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  color: $color-midnight-express-mod-2;
  text-transform: uppercase;

  background-color: $color-hawkes-blue-mod;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    min-height: 60px;
    margin-bottom: 52px;

    font-size: 20px;
    color: $color-catalina-blue;
    letter-spacing: 0.09em;

    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    min-height: 47px;
    margin: 0;
    padding: 0;

    border-radius: 0 0 10px 10px;
  }
}

.user-profile__add-image-text {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.user-profile__add-image-label:hover,
.user-profile__add-image-label:focus {
  background-color: $color-hawkes-blue-mod-4;
}

.user-profile__add-image-label:active {
  background-color: $color-hawkes-blue-mod;
  color: rgba($color-midnight-express-mod-2, 0.3);

  @media (min-width: $tablet-width) {
    color: rgba($color-catalina-blue, 0.3);
  }
}

.user-profile__title {
  position: relative;

  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto -10px auto;
  padding: 0 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: $color-catalina-blue;
  text-transform: uppercase;

  background-color: $color-solitude-grey-mod-2;

  @media (min-width: $tablet-width) {
    position: absolute;

    padding: 0 20px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: $color-solitude-grey-mod-2;
  }
}

.user-profile__tags-title {
  @media (min-width: $tablet-width) {
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    bottom: 5px;
    left: 20px;

    transform: none;
  }
}

.user-profile__transport-title {
  @media (min-width: $tablet-width) {
    bottom: 12px;
    left: 50%;

    transform: translateX(-50%);
  }
}

.user-profile__transport-wrapper {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 50%;

    width: 308px;
    min-height: 105px;

    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: unset;
    left: unset;

    width: 384px;
    height: fit-content;

    transform: none;
  }
}

.user-profile__tags-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;

    margin: 0;
  }

  @media (min-width: $desktop-width) {
    height: fit-content;
  }
}


.user-profile__fieldset {
  margin: 0;
  padding: 0;

  border: none;
  border-radius: 10px;
}

.user-profile__tags-fieldset {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.user-profile__transport-fieldset:hover,
.user-profile__tags:hover {
  border: 1px solid $color-echo-blue;
}

.user-profile__tags:focus,
.user-profile__tags:active {
  border: 1px solid $color-midnight-express-mod-2;
  outline: none;

  color: $color-charcoal-grey;
}

.user-profile__transport-fieldset {
  margin-bottom: 32px;

  border: 1px solid $color-link-water-grey;

  @media (min-width: $tablet-width) {
    min-height: 95px;
    margin: 0;
  }
}

.user-profile__tags {
  width: 100%;
  min-height: 90px;
  padding: 25px 28px 25px 26px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-family-blogger-sans;
  color: rgba($color-charcoal-grey, 0.6);

  background-color: $color-transparent;
  border: 1px solid $color-link-water-grey;
  border-radius: 10px;

  resize: none;

  @media (min-width: $tablet-width) {
    padding: 34px 40px;

    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 34px 40px 40px;
  }
}

.user-profile__transport-checkbox {
  @include list-reset;

  display: flex;
  justify-content: center;
  margin: 0;
  padding: 16px 0;

  @media (min-width: $tablet-width) {
    padding: 24px 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: -5px;
  }
}
