html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-flex;

  text-decoration: none;

  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  width: 100%;
}
